body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373737;
    font-family: Arial, serif;
}

.content {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-background {
    background-color: #d4f2db;
    border-radius: 7px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}


.title-text {
    color: black;
    font-size: 1.6em;
    font-weight: bold;
}

.rules-text {
    color: white;
    font-size: 1.4em;
}

.your-title {
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.achievements {
    width: 100%;
}

.achievement {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100px;
    display: flex;
    align-items: center;
}

.achievement-description {
    font-size: 1.3em;
    font-weight: bold;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.achievement-in-progress {
    background-color: #4c5f99;
    color: white;
}

.achievement-in-progress-button {
    padding: 10px 15px;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 10px;
    background-color: #FFDF0F;
    cursor: pointer;
}

.achievement-completed {
    background-color: #2fbfa0;
    color: black;
}

.achievement-completed-image {
    height: 64px;
    padding: 10px;
    margin-right: 20px;
}

/** New classes - above classes about achievements are deprecated **/
.achievement-card {
    width: 250px;
    height: 350px;
    background-color: darkred;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achievement-card-description {
    flex-grow: 1;
}

.achievement-completed-action-button {
    padding: 10px 15px;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 10px;
    background-color: #FFDF0F;
    cursor: pointer;
    margin-top: 20px;
}
